@charset "utf-8";
/* 禁用iPhone中Safari的字号自动调整 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* 去除iPhone中默认的input样式 */
input[type="submit"],
input[type="reset"],
input[type="button"],
input {
  -webkit-appearance: none;
  resize: none;
}
/* 取消链接高亮  */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* 设置HTML5元素为块 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* 图片自适应 */
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: none;
  -ms-interpolation-mode: bicubic;
  /*为了照顾ie图片缩放失真*/
}
/* 初始化 */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
body {
  font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
}
em,
i {
  font-style: normal;
}
strong {
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #969696;
}
a:active {
  color: #f60;
}
/* 按下状态 */
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
img {
  border: none;
  vertical-align: middle;
}
.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

/* 定义变量 */
.w {
  width: 7.5rem;
  margin-left: auto;
  margin-right: auto;
}
    html{ font-size: 100px;  }
        
    html { font-size: 100px; }
    @media (max-width: 359px) {
        html { font-size:42.66px ; }
    }
    @media (min-width: 360px) {
        html { font-size:48px ; }
    }
    @media (min-width: 375px) {
        html { font-size:50px ; }
    }
    @media (min-width: 384px) {
        html { font-size:51.2px ; }
    }
    @media (min-width: 400px) {
        html { font-size: 53.33px; }
    }
    @media (min-width: 414px) {
        html { font-size:55.2px ; }
    }
    @media (min-width: 424px) {
        html { font-size:56.53px ; }
    }
    @media (min-width: 480px) {
        html { font-size:64px ; }
    }
    @media (min-width: 540px) {
        html { font-size:72px ; }
    }
    @media (min-width: 720px) {
        html { font-size:96px ; }
    }
    @media (min-width: 750px) {
        html { font-size:100px ; }
    }
/* 头部开始 */
.tu1{position: fixed;overflow: hidden;z-index: -1;}
.tow{width:100%;height: auto;overflow: hidden;}
.z2{margin-top: -12px;}
.kong{background-color: #fff;width:100%;height: 70px;}
.z3{background-color: #20a184;width:100%;height: auto;position: relative;}
.z3-tu{position: relative;left:0;top: 0;}
.shipin{width:31.5%;height: 47.95%;background-color: #abc;margin: 0 auto;position: absolute;left:50%;top: 50%;margin-left: -15.75%;margin-top: -11.9%;}


.z4{background-color: #2099a1;width:100%;height: auto;padding:50px 0;overflow: hidden;}
.z4-z{width: 62.5%;height: auto;margin: 0 auto;position: relative;z-index: 1000;}
.z4-z-x{margin-top: 40px;}
.z4-z-x-z{width:58.3%;height: auto;float: left;}
.z4-z-x-y{width:31.8%;height: auto;float: right;}
.z4-z-x-y a{width:100%;height: auto;display: inline-block;}





.z5{background-color: #ff5b69;width:100%;height: auto;padding:50px 0;overflow: hidden;}
.z5-z{width: 62.5%;height: auto;margin: 0 auto;}
.z5-z-x{width:100%;height: auto;padding-top: 20px;}
.tu14{float: left;margin-right: 35px;}
.gundong{float: left;width:75%;height: auto;background-color: #ffdae3;
          /* Gecko browsers */
        -moz-border-radius: 10px; 
        /* Webkit browsers */
        -webkit-border-radius: 10px; 
        /* W3C syntax - likely to be standard so use for future proofing */
        border-radius:10px;
}
.box{position: relative;overflow: hidden;}
.box ul{width:4000px;position: absolute;top: 0;left: 0;z-index:0;}
.box ul li{float: left;width:auto;height: auto;}


.ding{width:100%;height: auto;background-color: #fff;margin-top: -8px;}
/*.mt70{margin-top: 70px;}*/
.pdt20{padding-top: 20px;}
.pdt30{padding-top: 30px;}
.pdt40{padding-top: 40px;}
.pdb40{padding-bottom: 40px;}


.xin{width:62.5%;height: auto;margin: 0 auto; background-color: #d4eeff;}
.ding{background-color: #d4eeff;}
.bd-suojin{width:62.5%;height: auto;margin: 30px auto 0; background-color: #d4eeff;}
.btn1{width:100%; margin-bottom: 80px;}
.form-group{margin-top: 40px;}


.shi{width:800px;height: 450px;background-color: #abc;margin: 70px auto 30px;}
.spbt{float: left;margin:20px 0 20px 50px;font-size: 20px;}
.close{margin-right:50px;margin-top: 20px;}



/*增加部分的css代码*/
.chanpin-d{margin-top: -20px;}
.chanpin-q{width:100%;background-color: #fff;}
.chanpin{width:63.54%;height: auto;margin: 0 auto 50px; overflow: hidden;}
.chanpin ul{margin-top: 40px;}
.chanpin ul .li1{float: left;width:49.8%;border:1px solid #aaa;border-radius: 6px;}
.chanpin ul .li2{float: right;width:49.8%;border:1px solid #aaa;border-radius: 6px;}
.chanpin ul li:hover{border:1px solid #0066ff;border-radius: 6px;}




::selection {
  color: #818892;
  background: #f9f6f0;
}

#fanda-header {
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 10px;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  #fanda-header {
    margin-top: 0;
	top: -10px;
    background: #fff;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  }
  #fanda-header .navbar-brand {
    color: #6173f4 !important;
  }
  #fanda-header #navbar li a {
    color: rgba(0, 0, 0, 0.5) !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  #fanda-header #navbar li a:hover {
    color: #6173f4 !important;
  }
  #fanda-header #navbar li a span:before {
    background: transparent !important;
  }
  #fanda-header #navbar li.active a {
    background: transparent;
    background: none;
    color: #6173f4 !important;
  }
  #fanda-header #navbar li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
#fanda-header .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
}
#fanda-header #navbar li a {
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
}
#fanda-header #navbar li a span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}
#fanda-header #navbar li a span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #6173f4;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#fanda-header #navbar li a:hover {
  color: #fff;
}
#fanda-header #navbar li a:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#fanda-header #navbar li.active a {
  background: transparent;
  background: none;
  color: #fff;
}
#fanda-header #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#fanda-header .navbar-brand {
  float: left;
  display: block;
  font-size: 30px;
  font-weight: 700;
  padding-left: 0;
  color: #fff;
}
#fanda-header.navbar-fixed-top {
  position: fixed !important;
  background: #fff;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  top: 0;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
#fanda-header.navbar-fixed-top .navbar-brand {
  color: #6173f4;
}
#fanda-header.navbar-fixed-top #navbar li a {
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#fanda-header.navbar-fixed-top #navbar li a:hover {
  color: #6173f4;
}
#fanda-header.navbar-fixed-top #navbar li.active a {
  background: transparent;
  background: none;
  color: #6173f4;
}
#fanda-header.navbar-fixed-top #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#fanda-header .navbar-default {
  border: transparent;
  background: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
@media screen and (max-width: 768px) {
  #fanda-header .navbar-default {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
#fanda-header .navbar-default .brand-slogan {
  margin: 28px 0 0 15px;
  float: left;
  letter-spacing: 2px;
  color: #adadad;
}
#fanda-header .navbar-default .brand-slogan em {
  color: #6173f4;
  font-style: normal;
}
#fanda-header a {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

