
@{
    ViewBag.Title = "篷布批发_篷布价格_汽车篷布_煤车篷布_邯郸云龙篷布厂";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
    ViewBag.keywords = "煤车篷布_拉煤车篷布批发 _篷布价格_邯郸云龙篷布厂";
    ViewBag.description = "邯郸云龙篷布厂专业生产拉煤车篷布迷彩盖布防飞尘布定制批发,迷彩布拉煤专用抗老化,耐斯拉。联系电话：13021867037";
}

<link href="~/jquery-enlargement20160816/dist/zoomify.min.css" rel="stylesheet" />
<script>
    //$("#two").removeClass("divClass")//移除 ID为two的对象的class名为divClass的样式。
    //$(#two).removeClass("divClass divClass2")//移除多个样式。
    //$("#two").attr("class","divClass")//设置Id为two的class属性。
    // class="active hidden-xs"
    $(function () {
        $("#1").attr("class", "active hidden-xs");
    })

</script>
<div class="main container">
    <div class="row">
        <!--  <div class="col-sm-3 col-xs-12">
              <div class="pro-list">
                  <div class="list-head">
                      <h2>煤车篷布资讯</h2>
                      <a href="~/pengbu">更多+</a>
                  </div>
                  <dl>
                      @if (Model != null)
                      {
                          foreach (var item in Model)
                          {
                              @*<dt>净洗剂</dt>*@
                              <dd><a href="~/pengbu/pbxwInfo/@item.id">@item.headline</a></dd>
                          }
                      }

                      @*<dd><a href="products-detail.html">6501</a></dd>
                           <dt>酸度调节剂</dt>
                          <dd><a href="products-detail1.html">一水柠檬酸/无水柠檬酸</a></dd>
                          <dt>防腐剂</dt>
                          <dd><a href="products-detail2.html">苯甲酸钠</a></dd>
                          <dt>磷酸盐</dt>
                          <dd><a href="products-detail3.html">96%/98%磷酸三钠</a></dd>
                          <dd><a href="products-detail4.html">三聚磷酸钠</a></dd>
                           <dt>其他醚</dt>
                          <dd><a href="products-detail5.html">二乙二醇己醚</a></dd>
                          <dd><a href="products-detail6.html">二丙二醇丙醚</a></dd>
                          <dd><a href="products-detail7.html">三丙二醇甲醚</a></dd>*@
                  </dl>
              </div>

          </div>-->
        <div class="col-sm-12 col-xs-12">
            <div class="pro-show">
                <div class="list-head">
                    <h2>煤车篷布迷彩系列展示</h2>
                    <a href="~/pengbu/peng">更多+</a>
                </div>
                <ul class="row">
                    <li class="col-sm-3 col-xs-6">
                        <img width="300" height="200" src="~/static/images/products/19.jpg" />
                        <p>篷布厂库</p>
                    </li>
                    <li class="col-sm-3 col-xs-6">
                        <img width="300" height="200" src="~/static/images/products/25.jpg" />
                        <p>迷彩篷布细节</p>
                    </li>
                    <li class="col-sm-3 col-xs-6">
                        <img width="300" height="200" src="~/static/images/products/23.jpg" />
                        <p>成品篷布</p>
                    </li>
                    <li class="col-sm-3 col-xs-6">
                        <img width="300" height="200" src="~/static/images/products/28.jpg" />
                        <p>黑色布料篷布</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9 col-xs-12">
            <div class="about-list row">
                <div class="col-md-9 col-sm-12">
                    <div class="about">
                        <div class="list-head">
                            <h2>邯郸云龙篷布厂</h2>
                            @*<a href="about.html">更多+</a>*@
                        </div>
                        <div class="about-con row">
                            <div class="col-sm-6 col-xs-12">

                                <img src="~/static/images/products/30.jpg" />
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <h3> 邯郸云龙篷布厂 </h3>
                                <p>
                                    煤车、砂石车、垃圾车篷布,盖布,防飞尘布批发厂家订做煤车、砂石车、垃圾车篷布,盖布,防飞尘布批发厂家订做。

                                    煤车篷布_煤车盖布_拉煤车篷布批发_砂石车篷布订做批发_邯郸云龙篷布厂
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="con-list">
                        <div class="list-head">
                            <h2>联系我们</h2>
                        </div>
                        <div class="con-det">
                            <a href="javascript:void(0)"><img src="~/static/images/listcon.jpg" /></a>
                            <ul>
                                <li>公司地址：邯郸市南环路美的城东门南行200米</li>
                                <li>联系电话（微信）：<br />13021867037</li>
                                <li>联系邮箱：475383382@qq.com</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3 col-sm-12">

        </div>
    </div>
</div>

<script src="~/jquery-enlargement20160816/dist/zoomify.min.js"></script>
<script type="text/javascript">
    $('.col-sm-3 img').zoomify();
</script>