.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    /*margin-right: -15px;
    margin-left: -15px;*/
}
.case figure {
    width: 360px;
    float: left;
    position: relative;
    height: 256px;
    margin: 15px;
}
@media screen and (max-width: 480px) {
	.case figure {
    width: 360px;
    /*position: relative;*/
    height: auto;
    /*margin: 10px auto;*/
}
.row figure img{
	 width: 360px; height: auto;
}
.row {
     width: 360px;
     height: auto;
     margin: 15px auto !important;
}
}
@media only screen and (min-width: 490px) and (max-width: 900px) {
	.case figure {
    width: 345px;
    /*float: left;
    position: relative;*/
    height: 256px;
    margin: 15px;
}
}
.case figure figcaption {
	font-size: 14px;
	font-family: "微软雅黑";
    position: absolute;
    width: 360px;
    height: 256px;
    top: 0px;
    left: 0px;
    display: none;
    background-color: rgba(247,90,83,0.70);
    padding: 30px;
    color: #FFFFFF;
    text-align: left;
}

.case figure figcaption h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 8px 0;
}
.case figure figcaption h3 a, .case figure figcaption p a {
    color: #FFFFFF;
    text-decoration: underline;
}
.case figure figcaption p {
    margin: 0;
    line-height: 28px;
}
.case figure figcaption p {
    margin: 10px 0 0 0;
    line-height: 28px;
}
.case figure figcaption p a {
    color: #FFFFFF;
    text-decoration: underline;
}

.case-more {
    padding: 7px 10px 5px 10px;
    margin-left: 0;
    background-color: rgba(255,255,255,0.70) !important;
    color: #f75a53 !important;
    text-decoration: none !important;
    margin-right: 10px;
    margin-top: 10px;
}
.btn-success {
    color: #fff;
    background-color: #f75a53;
    border-width: 0px;
    border-radius: 5px;
    padding: 10px 20px 8px 20px;
    /*margin: 0 15px;*/
    white-space: nowrap;
    text-overflow: ellipsis;
}
.case-wenz{ 
	height: 140px;
	word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box; /** 将对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 5; /** 显示的行数 **/
    overflow: hidden;  /** 隐藏超出的内容 **/
}
.pages {
    padding: 30px 0 30px;
    text-align: center;
}
.pages li {
    display: inline;
}
.product-name{ text-align: center; font-size: 1.8rem; margin-top: 5px;}





